form {
    max-width: 600px;
    margin: 20px auto;
    border-radius: 10px;
    h2{
      text-align: center;
      margin: 0 0 20px 0;
    }
    .btn{
      display: block;
      margin: 0 auto;
    }
  }
  