form {
    max-width: 600px;
    margin: 0 auto;
    .title{
      text-align: center;
      margin: 0 0 20px 0;
    }
  }

  @media (max-width: 470px) {
    .title{
      font-size: 22px;
    }
 } 
  