<form [formGroup]="form" (ngSubmit)="submit()">
    <h1 class="title">Create a new weather card</h1>
  
    <div
      class="form-control"
      [ngClass]="{invalid: form.get('title').touched && form.get('title').invalid}"
    >
      <label for="title">Title :</label>
      <input id="title" type="text" formControlName="title">
      <div
        *ngIf="form.get('title').touched && form.get('title').invalid"
        class="validation"
      >
        <small *ngIf="form.get('title').errors.required">
          Enter cards title
        </small>
      </div>
    </div>
 
    <div
      class="form-control"
      [ngClass]="{invalid: form.get('city').touched && form.get('city').invalid}"
    >
      <label for="city">City:</label>
      <input id="city" type="text" formControlName="city">
      <div
        *ngIf="form.get('city').touched && form.get('city').invalid"
        class="validation"
      >
        <small *ngIf="form.get('city').errors.required">
          Field city is required
        </small>
        
      </div>
      <small *ngIf="errorMessage"  class="validation">
        Field city is not valid
      </small>
    </div>

    <div
      class="form-control"
      [ngClass]="{invalid: form.get('description').touched && form.get('description').invalid}"
    >
      <label for="description">Description:</label>
      <textarea id="description" type="text" formControlName="description"></textarea>
      <div
        *ngIf="form.get('description').touched && form.get('description').invalid"
        class="validation"
      >
        <small *ngIf="form.get('description').errors.required">
          Field description is required
        </small>
      </div>
    </div>
    <div
      class="form-control"
      [ngClass]="{invalid: form.get('tags').touched && form.get('tags').invalid}"
    >
      <label for="tags">Tags:</label>
      <input id="tags" type="text" formControlName="tags">
      <div
        *ngIf="form.get('tags').touched && form.get('tags').invalid"
        class="validation"
      >
        <small *ngIf="form.get('tags').errors.required">
          Field tags is required
        </small>
      </div>
    </div>
  
    <button
      type="submit"
      class="btn btn-block btn-dark"
      [disabled]="form.invalid"
    >add</button>
  </form>
  