<div *ngIf="posts.length; else loading">
  <section class="card_list">
    <div class="card_wrap">
      <div class="mat-elevation-z5" *ngFor="let post of posts">
        <div>
          <h2>{{post.city}}</h2>
          <p>{{post.date | date : 'mediumDate'}}</p>
        </div>

        <div class="flex-row">
          <div class="temp">
            <span class="big-text">{{post.weather.temp | number: '1.0-0'}} °C</span>
            <span>Feels like </span>
            <span>{{post.weather.feels_like | number: '1.0-0'}} °C</span>
          </div>
          <div class="outlook">
            <img [src]="'http://openweathermap.org/img/wn/' + post.weather.icon +'@2x.png'" />
            <span>{{post.weather.description}}</span>
          </div>
        </div>

      </div>
    </div>
  </section>
</div>

  <ng-template #loading>
    <p class="text-center">Loading...</p>
  </ng-template> 