.card_list{
    padding: 5px;
    text-align: center;
}
.card_wrap{
    display: flex;
    flex-wrap: wrap;
}
  .mat-elevation-z5{
    flex: 0 0 30%;
    margin: 10px;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
  }

   div {
    flex: 50%;
    border-radius: 10px;
    padding: 10px;
}

 .outlook {
    color: black;
    background: rgba(0,0,0,0.1);
  }

   .temp {
    background: lightblue;
    color: black;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.big-text {
    font-size: 30px;
}

.image {
    height: 80px;
}

@media (max-width: 770px) {
    .card_wrap{
        justify-content: center;
    }
    .mat-elevation-z5{     
        flex: 0 0 40%;
    }
}
@media (max-width: 600px) {
    .mat-elevation-z5{
        flex: 1 1 60%;
    }
}

@media (max-width: 330px) {
    .mat-elevation-z5{
        margin: 10px 0;
    }
}